<p>
  Hello <%= @user.email %>
</p>
<p>
  You have requested to change your password. Click the link below to change your password.
</p>
 <a target="_blank" rel="noopener" href="<%= @url %>">
  Reset Password
</a>
